/* hero  component */
/* */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spin {
  transform-origin: center;
  animation: spin 0.5s ease-in infinite;
}
h1 {
  text-align: center;
  font-size: 20%;
  color: #9ed6d5 !important;
}
h3 {
  text-align: center;
  font-size: larger;
  color: #9ed6d5 !important;
}
strong {
  color: #9ed6d5 !important;
}
Button {
  text-align: center;
  background-color: #80ffd5 !important;
}

li {
  text-decoration: none !important;
  color: #9ed6d5;
}
/* div {
  background-color: #48cba4;
} */
